.primary-nav {
    ul {
        display: flex;
        list-style: none;
        padding-left: 0;
    }

    li {
        padding-right: 0;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        @mixin atMedium {
            padding-right: 20px;
            margin-right: 0;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        font-size: .8rem;
        padding: 5px 8px;
        background-color: rgba($mainBlue, .3);

        @mixin atMedium {
            padding: 12px 0;
            font-size: 1rem;
            background-color: transparent;
        }
    }
}