.row {
    display: grid;
    grid-template-columns: 1fr;

    &--t-padding {
        padding-top: 80px;
    }

    &--b-margin-until-medium {
        margin-bottom: 1rem;
        @mixin atMedium {
            margin-bottom: 0;
        }
    }

    &--b-margin-until-large {
        margin-bottom: 1rem;
        @mixin atLarge {
            margin-bottom: 0;
        }
    }

    &--gap {
        column-gap: 64px;
    }
    
    &--gap-small {
        column-gap: 44px;
    }

    &--gap-large {
        column-gap: 100px;
    }

    @mixin atMedium {
        /*Total Columns*/
        &--medium-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &--medium-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &--medium-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &--medium-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &--medium-8 {
            grid-template-columns: repeat(8, 1fr);
        }

        &--medium-12 {
            grid-template-columns: repeat(12, 1fr);
        }

        /*Item Sizing*/
        &__medium-column-2 {
            grid-column: span 2;
        }

        &__medium-column-3 {
            grid-column: span 3;
        }

        &__medium-column-4 {
            grid-column: span 4;
        }

        &__medium-column-5 {
            grid-column: span 5;
        }

        &__medium-column-6 {
            grid-column: span 6;
        }

        &__medium-column-7 {
            grid-column: span 7;
        }

        &__medium-column-8 {
            grid-column: span 8;
        }

        &__medium-column-9 {
            grid-column: span 9;
        }

        &__medium-column-10 {
            grid-column: span 10;
        }

        &__medium-column-11 {
            grid-column: span 11;
        }

        &__medium-column-12 {
            grid-column: span 12;
        }
    }
    
    @mixin atLarge {
        /*Total Columns*/
        &--large-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &--large-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &--large-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &--large-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &--large-8 {
            grid-template-columns: repeat(8, 1fr);
        }

        &--large-12 {
            grid-template-columns: repeat(12, 1fr);
        }

        /*Item Sizing*/
        &__large-column-2 {
            grid-column: span 2;
        }

        &__large-column-3 {
            grid-column: span 3;
        }

        &__large-column-4 {
            grid-column: span 4;
        }

        &__large-column-5 {
            grid-column: span 5;
        }

        &__large-column-6 {
            grid-column: span 6;
        }

        &__large-column-7 {
            grid-column: span 7;
        }

        &__large-column-8 {
            grid-column: span 8;
        }

        &__large-column-9 {
            grid-column: span 9;
        }

        &__large-column-10 {
            grid-column: span 10;
        }

        &__large-column-11 {
            grid-column: span 11;
        }

        &__large-column-12 {
            grid-column: span 12;
        }
    }

    /* Begin equal height rules */

    &--equal-height-at-medium > * {
        @mixin atMedium {
            align-self: stretch;
            & > div {
                height: 100%;
            }
        }
    }

    &--equal-height-at-large > * {
        @mixin atLarge {
            align-self: stretch;
            & > div {
                height: 100%;
            }
        }
    }

}
